

body {
    background: rgb(227,103,188);
    /* background: radial-gradient(circle, rgba(227,103,188,1) 0%, rgba(183,90,227,1) 17%, rgba(53,30,75,1) 100%); */
    background: rgb(242,73,189);
background: radial-gradient(circle, rgba(242,73,189,1) 0%, rgba(205,94,246,1) 17%, rgba(53,30,75,1) 100%);
  }



header {
    color:#11009E;
    text-align: center;
    position: relative;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    font-weight:20px;
    text-shadow: 5px 5px 10px rgba(134, 45, 193, 0.4);
    color: #862dc1;

    background: rgb(247, 239, 255);
    max-width: 900px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 10px;
}

h2 {
    font-size:25px;
    margin-top: -70px;
    text-shadow: 1px 2px 5px rgba(233, 113, 148, 0.5);
    color: #e97194;

}

.material-symbols-outlined {
    font-size: 50px;
}

.intro {
    text-align: center;
    font-size: 17px;
    color: #000000;
    font-weight: 50px;
    font-family: 'Poppins', sans-serif;
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 8px;

     transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition: all 0.3s;   
        }

    .intro:hover {
    transform: translateY(-10px);
    }


    .whatis {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition: all 0.3s;   
        }

    .whatis:hover {
    transform: translateY(-10px);
    }

    .whatis strong {
        color: #f65282;
    }


.secondpart {
    background: white;
    max-width: 620px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition: all 0.3s;   
        }

    .secondpart:hover {
    transform: translateY(-10px);
    }

    .secondpart-details strong {
        color: #f65282;
    }


    h4 {
        font-size: 32px;
        color:#681ca7;
        font-weight: 50px;
    }

    h5 {
        font-size: 25px;
        color:#7e22b3;
        margin-top: 70px;
        margin-bottom: -5px;
    }


   .stadistics {
    font-family: 'Poppins', sans-serif;


    background: white;
    
    max-width: 620px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
    
    text-align: center;
    font-size: 17px;


    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition: all 0.3s;   
        }

    .stadistics:hover {
    transform: translateY(-10px);
    }

    .stadistics strong {
        color: #f65282;
    }

   .europe {
    margin-top: -30px;
    margin-bottom: -30px;
   }

        footer {
            border-top: 1px solid #f9f7fe;
            padding: 30px 0 0 0;
            text-align: center;
            font-size: 17px;
            color: rgba(47, 18, 68, 0.986);

            background: rgb(195, 173, 221);
            
            max-width: 900px;
        
            margin: 45px auto;
            box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
             border-radius: 5px;
            padding: 10px;
          }

          
          